#maindiv {
	max-width: 1000px;
	max-height: 350px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
	padding: 15px 10px 10px 10px;

    text-align: center;
    color: white;
	background: #191d1e;
	opacity: 0.9;

	border-radius: 50px;
}

.formdiv {
	display: block;
	flex-flow: row wrap;
	align-items: center;
	position: relative;
	margin-bottom: 1.5rem;
}

.formdiv input {
	vertical-align: middle;
  	margin: 5px 10px 5px 0;
  	padding: 7px 0;
  	background-color: #fff;
	border: 0;
  	border-bottom: 2px solid #6ac6e8;
	outline: 0;
  	font-size: 1rem;
  	color: white;
	background: transparent;
  	transition: border-color 0.2s;
	width: 150px;
}

label {
	position: absolute;
	background: transparent;
	color: #6ac6e8;
  /*transform: translate(0, -2.75rem);*/
}

a {
	font-size: 1.5rem;
	padding: 1rem 3rem;
	color: #f4f4f4;
	/*text-transform: uppercase;*/
  }
  
  .btn {
	text-decoration: none;
	border: 1px solid #6ac6e8;
	position: relative;
	overflow: hidden;
  }
  
  .btn:hover {
	box-shadow: 1px 1px 25px 10px #87cae2;
  }
  
  .btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
	  120deg,
	  transparent,
	  rgba(106, 198, 232, 0.4),
	  transparent
	);
	transition: all 500ms;
  }
  
  .btn:hover:before {
	left: 100%;
  }

  #button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	padding-top: 30px;
  }

  #output {
	text-align: center;
    color: white;
	vertical-align: center;
  }